<section>
    <h1>Welcome to the Tech Blog</h1>
    {{#each posts as |post|}}
        <article>
            <h2><a href="/post/{{post.id}}">{{post.title}}</a></h2>
            <p>Posted on {{post.dateCreated}}</p>
        </article>
    {{else}}
        <p>No posts to display.</p>
    {{/each}}
</section>